<div class="modal-dialog modal-dialog-centered">
    <div class="modal-content " style="background-color: whitesmoke;">
        <div class="modal-header">
            <h1 class="modal-title" id="staticBackdropLabel">Login</h1>
            <button id="cancellogin" (click)="clear()" type="button" class="btn-close" data-bs-dismiss="modal"
                aria-label="Close" style="border-style: none;">X</button>
        </div>
        <div class="modal-body">
            <div class="container">
                <div class="row">

                    <div class="text-center">

                    </div>

                    <form [formGroup]="loginForm" (ngSubmit)="login()">

                        <div>
                            <label for="exampleInputEmail1" class="form-label">Email</label>
                            <input formControlName="email" type="email" class="form-control" id="exampleInputEmail1"
                                required>
                        </div>

                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Password</label>
                            <input formControlName="password" type="password" class="form-control"
                                id="exampleInputPassword1" required>
                        </div>

                        <div class="modal-footer" style="justify-content: center !important;">

                            <button type="button" (click)="clear()" class="btn btn-secondary"
                                data-bs-dismiss="modal">Close</button>
                            <button [disabled]="!loginForm.valid" type="submit" class="btn btn-primary">Login</button>
                            <div class="container row text-center">
                                <p style="float: left;">New to Page? <a data-bs-toggle="modal"
                                        data-bs-target="#register">Create an Account</a></p>
                            </div>
                        </div>

                    </form>

                </div>
            </div>

        </div>