<nav class="navbar navbar-light bg-primary bg-gradient">
    <div class="container justify-content-center">
        <h1 style="color: aliceblue;font-weight:bolder  ;font-size:xx-large;margin-bottom: 0px;">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Product Catalog</h1>
    </div>
    <div *ngIf="loggedout" class="dropdown">
        <button class="dropbtn">&nbsp;<i class="fa fa-user" aria-hidden="true"></i>&nbsp;

        </button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <div class="dropdown-content">
            <a data-bs-toggle="modal" data-bs-target="#login">Log In</a>
            <a data-bs-toggle="modal" data-bs-target="#register">Register</a>
        </div>
    </div>

    <div *ngIf="loggedin" class="dropdown">

        <button (click)="logout()" style="margin-top: 0px;" class="btn btn-light bg-gradient">Log Out</button>
    </div>

</nav>





<div class="modal fade" id="login" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <app-login></app-login>
</div>
<div class="modal fade" id="register" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <app-register></app-register>
</div>