.dropbtn {
    background-color: transparent;
    color: white;
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 20px;
    border: solid;
    border-radius: 300px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #b3ccef;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: rgb(123, 176, 250);
    color: rgb(32, 19, 214);
}